/* reset styles */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}
button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button {
    cursor: pointer;
    background-color: inherit;
}

/* page styles */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
}


.content {
    flex: 1 1 auto;
}

.hello {
    background-color: #445162;
    padding: 50px 0;
}

.hello__row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.hello__body {
    width: 50vw;
    color: #fff;
}
.hello__title {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 60px;
    margin: 0px 0px 38px 0px;
}

.hello__list li {
    background: url('./icon.png') left no-repeat;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 22px;
    padding: 0px 0px 0px 36px;
    margin: 0px 0px 15px 0px;
}

.hello__list li:last-child {
    margin: 0;
}

/* .hello__img {
    display: block;
    width: 50vw;
    border-radius: 10px;
    background: url('./ooooo.jpg') center / cover no-repeat;
} */

.hello__image {
    flex: 0 0 50%;
    /* padding: 0px 0px 0px 38px; */
}

.hello__image img {
    max-width: 100%;
}

.title {
    color: #445161;
    font-size: 30px;
    line-height: 36px;
}

.what {
    padding: 50px 0px;
}

.what__row {
    display: flex;
}
.what___image {
    flex: 0 0 50%;
    margin-top: 20px;
}

.what___image img {
    max-width: 100%;
}

.what__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 38px;
}

.what__title {
    margin: 0px 0px 25px 0px;
}

.what__text p {
    margin: 0px 0px 25px 0px;
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}

.columns {
    background-color: #f5f5f5;
    padding: 50px 0 20px 0;
}

.columns__title {
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.columns__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px;
}
.columns__column {
    flex: 0 1 50%;
    margin-bottom: 50px;
    padding: 0px 10px;
    /* border: 1px solid black; */
}

.item__row {
    display: flex;
}

.item__image {
    flex: 0 0 200px;
    height: 150px;
    margin-top: 10px;
    background-color: #445162;

}
.item__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 15px;
}

.item__title {
    color: #445161;
    font-style: 24px;
    line-height: 30px;
    margin-bottom: 13px;
}

.item__text {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}

.footer {
    background-color: #f5f5f5;
}
.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}
.footer__text {
    color: #445162;
    font-size: 16px;
    letter-spacing: 0.3px;
}